/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* TIPOGRAFIA */

.padding-section {
    padding: 80px 0;
}

.icon {
    max-width: 25px;
}

/* HEADER */

#header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #00b894;
    color: #fff;
    top: 0;
    z-index: 999;
    transition: all 0.4s ease-in-out;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  height: 100%;
  color: #fff;
}

#header svg {
  height: 100%;
}

#header a {
  color: #fff;
}

.header-claro {
  background-color: #efefef !important;
}

.header-claro a {
  color: #00b894 !important;
}

.header-claro svg path {
  fill: #00b894 !important;
}

/* APRESENTACAO */

section.apresentacao {
  margin-top: 60px;
  background-color: #00b894;
  color: #fff;
  height: calc(100vh - 60px);
  min-height: 500px;
}

section.apresentacao h1 {
    margin-top: 150px;
}

section.apresentacao .pets {
    max-width: 100%;
    position: absolute;
    bottom: -8px;
    right: 0;
    transform:
}

#texto-principal {
  z-index: 5;
}

.title h2 {
    text-align: center;
}

.title p {
    text-align: center;
    color: #555;
}

/* SEÇÃO FUNCIONALIDADES */

.funcionalidade h3 {
  text-transform: uppercase;
  color: #00b894;
}

.funcionalidades img {
    max-width: 100%;
}

/* SEÇÃO COMING SOON */

section.coming-soon h1 {
  color: #00cec9;
}

#comingsoon-btn {
    max-width: 120px;
    margin-left: auto;
    position: absolute;
    bottom: 80px;
    right: 50px;
}

.btn-coming {
    background-color: #00cec9;
    color: #fff;
}

/* SEÇÃO TIME */

section.time {
  background-color: #00b894;
}

.devs {
    display: flex;
    justify-content: center;
}

.perfil {
    padding: 5px;
    width: 100%;
    height: 100%;
    max-width: 150px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    flex: 1;
    margin-bottom: 15px;
}

.perfil .foto {
    border-radius: 10px;
    width: 100%;
    background-color: olive;
}

.perfil img {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

.perfil footer {
    color: #00b894;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.perfil footer p {
    margin: 0
}

.perfil:hover {
    transform: scale(1.1);
}

.github-logo {
    width: 20px;
    text-align: center;
}


@media (max-width: 991.98px) {
  section.apresentacao .pets {
    opacity: 0.5;
  }

  section.apresentacao {
      overflow: hidden;
  }

  #header .container {
      padding: 0 15px;
  }
}

@media (max-width: 368px) {
    .devs h5 {
        font-size: 10pt;
    }
}

@media (max-width: 768px) {
    section.apresentacao h1 {
        margin-top: 50px;
    }
}
